# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle
name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read


jobs:
  build:


    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        
    ## create application-secret.properties
    - name: make application-secret.properties
      run: |
        cd ./src/main/resources
        touch ./application-secret.properties
        echo "${{ secrets.PROPERTIES_SECRET }}" > ./application-secret.properties
      shell: bash
      
    - name: Build with Gradle
      run: chmod +x ./gradlew
    - uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
      with:
        arguments: build

      
        # (4) AWS 인증 (IAM 사용자 Access Key, Secret Key 활용)
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2
        # cloud-aws-credentials-accessKey : ${{ secrets.AWS_ACCESS_KEY_ID }}
        # cloud-aws-credentials-secretKey : ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    # (5) 빌드 결과물을 S3 버킷에 업로드
    - name: Upload to AWS S3
      run: |
        aws deploy push \
          --application-name testapp \
          --ignore-hidden-files \
          --s3-location s3://magorosc/$GITHUB_SHA.zip \
          --source .
    # (6) S3 버킷에 있는 파일을 대상으로 CodeDeploy 실행
    - name: Deploy to AWS EC2 from S3
      run: |
        aws deploy create-deployment \
          --application-name testapp \
          --deployment-config-name CodeDeployDefault.OneAtATime \
          --deployment-group-name dev \
          --s3-location bucket=magorosc,key=$GITHUB_SHA.zip,bundleType=zip
